In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

### Extract details from all pages

In [2]:
thebooks = []

for i in range(50):
    url = f"https://books.toscrape.com/catalogue/page-{i}.html"
    response = requests.get(url)
    website = BeautifulSoup(response.content , "html.parser")
    books = website.find_all("article", class_="product_pod")

    for book in books:
        img = book.find("img")
        title = img.attrs["alt"]
        price = book.find("p", class_= "price_color").text
        price = float(price[1:])
        rating = book.find("p", class_= "star-rating")
        star = rating['class'][1]
        availability = book.find("p", class_= "availability").text.strip()
        thebooks.append([title, price, star, availability])

In [3]:
df = pd.DataFrame(thebooks, columns = ["title", "price", "star_rating", "availability"])
df

,title,price,star_rating,availability
0,A Light in the Attic,51.77,Three,In stock
1,Tipping the Velvet,53.74,One,In stock
2,Soumission,50.10,One,In stock
3,Sharp Objects,47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,54.23,Five,In stock
...,...,...,...,...
975,Icing (Aces Hockey #2),40.44,Four,In stock
976,"Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)",45.24,Three,In stock
977,Having the Barbarian's Baby (Ice Planet Barbar...,34.96,Four,In stock
978,"Giant Days, Vol. 1 (Giant Days #1-4)",56.76,Four,In stock
979,"Fruits Basket, Vol. 1 (Fruits Basket #1)",40.28,Five,In stock

In [5]:
df.to_csv("books.csv", index=False)